/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    scroll-snap-type: y mandatory;
}



/* Media query for phones */
.menu li {
    text-align: center;
    margin-bottom: 1rem;
}

.menu li a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #00ffee;
}

#menu-icon {
    display: block;
    /* Show the hamburger icon */
    font-size: 2rem;
    cursor: pointer;
}


/* Styling for larger screens */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu li {
    margin: 0 1rem;
}

.menu li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #00ffee;
}

/* Color variables */
:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}

/* Base styles */
html {
    font-size: 65.5%;
    /* Changed from 60% for easier rem calculations */
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    /* Improved readability */
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bolder;
    cursor: pointer;
    transition: 5s step-start;
}

/* Navbar styles */
.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0 4rem;
    /* Changed margin */
    font-weight: 800;
    transition: 0.8s ease;
    border-bottom: 3px solid transparent;
    padding-bottom: 4rem;
    /* Added padding */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* Menu icon styles */
#menu-icon {
    font-size: 4rem;
    color: var(--main-color);
    display: none;
}

/* Section styles */
section {
    min-height: 100vh;
    padding: 10rem 12%;
}

/* Home section styles */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

/* Logo styles */
.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

/* Home content styles */
span {
    color: var(--main-color);
}

.home-content h3 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 800;
    margin-top: 1.5rem;
    line-height: 1;
}

/* Home image styles */
.home-img {
    border-radius: 50%;
}

.home-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    transition: 1s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}

/* Home content paragraph styles */
.home-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    /* Improved readability */
    max-width: 1000px;
}

/* Social icons styles */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 3rem;

}

.social-icons:hover {
    color: var(--bg-color);
}

.social-icons i {
    transition: 1s ease;
}

.social-icons i:hover {
    transform: scale(2.2);
}

/* Additional Styles */

/* Title styles */
.title {
    text-align: center;
    margin-bottom: 6rem;
}

/* Section title styles */
.section-title {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

/* Section subtitle styles */
.section-subtitle {
    font-size: 2rem;
    font-weight: 400;
    color: #ccc;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

/* Box styles */
.education-box,
.skills-box,
.contact-box {
    margin-bottom: 4rem;
    font-size: 2rem;
}

/* Icon styles */
.education-icon,
.contact-icon {
    font-size: 5rem;
    margin-right: 2rem;
}

/* Info styles */
.education-info,
.contact-info {
    flex-grow: 1;
}

/* Skills box styles */
.skills-box {
    display: flex;
    align-items: center;
}

/* Skills bar styles */
.skills-bar {
    background-color: #333;
    height: 2.4rem;
    border-radius: 1.2rem;
    width: 50%;
    /* Adjusted width */
    margin-left: 2rem;
    overflow: hidden;
}

.skills-bar span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
}

/* Projects container styles */
.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    /* Vertical gap between rows */
    margin-top: 4rem;
}

/* Card styles */
.card {
    width: 250px;
    /* Adjusted width */
    height: 254px;
    background: rgb(17, 85, 158);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
}

/* Card hover styles */
.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    background: rgb(103, 151, 255);
}

/* First content styles */
.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

/* Card hover first content styles */
.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

/* Second content styles */
.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}

/* Card hover second content styles */
.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.life-goals {
    justify-content: center;
    align-items: center;
    gap: 15rem;

}

.life-goals-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.life-goals-content h3 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.life-goals-content h1 {
    font-size: 7rem;
    font-weight: 800;
    margin-top: 1.5rem;
    line-height: 1;
}

.life-goals-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    max-width: 1000px;
}

.life-goals-box {
    margin-bottom: 4rem;
    font-size: 2rem;

}

.improve {
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.improve-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.improve-content h3 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.improve-content h1 {
    font-size: 7rem;
    font-weight: 800;
    margin-top: 1.5rem;
    line-height: 1;
}

.improve-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    max-width: 1000px;
}

.improve-box {
    margin-bottom: 4rem;
    font-size: 2rem;

}

.faqs {
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.faqs-content {
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.faqs-content h3 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.faqs-content h1 {
    font-size: 7rem;
    font-weight: 800;
    margin-top: 1.5rem;
    line-height: 1;
}

.faqs-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    max-width: 1000px;
}

.faqs-box {
    margin-bottom: 4rem;
    font-size: 2rem;

}

.hobbies {
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.hobbies-content {
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.hobbies-content h3 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.hobbies-content h1 {
    font-size: 7rem;
    font-weight: 800;
    margin-top: 1.5rem;
    line-height: 1;
}

.hobbies-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    max-width: 1000px;
}

.hobbies-box {
    margin-bottom: 4rem;
    font-size: 2rem;

}

.hobbies-info {
    flex-grow: 1;

}

.hobbies-icon {
    font-size: 5rem;
    margin-right: 2rem;
}

.about {
    justify-content: center;
    align-items: center;
    gap: 15rem;

}

.about-content {
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.about-content h3 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.about-content h1 {
    font-size: 7rem;
    font-weight: 800;
    margin-top: 1.5rem;
    line-height: 1;
}

.about-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    max-width: 1000px;
}

.about-box {
    margin-bottom: 4rem;
    font-size: 2rem;

}

.about-info {
    flex-grow: 1;

}

.info-box {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.switch-content {
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

/* Default */
.theme {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.theme__fill,
.theme__icon {
    transition: 0.3s;
}

.theme__fill {
    background-color: var(--bg);
    display: block;
    mix-blend-mode: difference;
    position: fixed;
    inset: 0;
    height: 100%;
    transform: translateX(-100%);
}

.theme__icon,
.theme__toggle {
    z-index: 1;
}

.theme__icon,
.theme__icon-part {
    position: absolute;
}

.theme__icon {
    display: block;
    top: 0.5em;
    left: 0.5em;
    width: 1.5em;
    height: 1.5em;
}

.theme__icon-part {
    border-radius: 50%;
    box-shadow: 0.4em -0.4em 0 0.5em hsl(0, 0%, 100%) inset;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    transition: box-shadow var(--transDur) ease-in-out,
        opacity var(--transDur) ease-in-out,
        transform var(--transDur) ease-in-out;
    transform: scale(0.5);
}

.theme__icon-part~.theme__icon-part {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.05em;
    top: 50%;
    left: calc(50% - 0.05em);
    transform: rotate(0deg) translateY(0.5em);
    transform-origin: 50% 0;
    width: 0.1em;
    height: 0.2em;
}

.theme__icon-part:nth-child(3) {
    transform: rotate(45deg) translateY(0.45em);
}

.theme__icon-part:nth-child(4) {
    transform: rotate(90deg) translateY(0.45em);
}

.theme__icon-part:nth-child(5) {
    transform: rotate(135deg) translateY(0.45em);
}

.theme__icon-part:nth-child(6) {
    transform: rotate(180deg) translateY(0.45em);
}

.theme__icon-part:nth-child(7) {
    transform: rotate(225deg) translateY(0.45em);
}

.theme__icon-part:nth-child(8) {
    transform: rotate(270deg) translateY(0.5em);
}

.theme__icon-part:nth-child(9) {
    transform: rotate(315deg) translateY(0.5em);
}

.theme__label,
.theme__toggle,
.theme__toggle-wrap {
    position: relative;
}

.theme__toggle,
.theme__toggle:before {
    display: block;
}

.theme__toggle {
    background-color: hsl(48, 90%, 85%);
    border-radius: 25% / 50%;
    box-shadow: 0 0 0 0.125em var(--primaryT);
    padding: 0.25em;
    width: 6em;
    height: 3em;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color var(--transDur) ease-in-out,
        box-shadow 0.15s ease-in-out,
        transform var(--transDur) ease-in-out;
}

.theme__toggle:before {
    background-color: hsl(48, 90%, 55%);
    border-radius: 50%;
    content: "";
    width: 2.5em;
    height: 2.5em;
    transition: 0.3s;
}

.theme__toggle:focus {
    box-shadow: 0 0 0 0.125em var(--primary);
    outline: transparent;
}

/* Checked */
.theme__toggle:checked {
    background-color: hsl(198, 90%, 15%);
}

.theme__toggle:checked:before,
.theme__toggle:checked~.theme__icon {
    transform: translateX(3em);
}

.theme__toggle:checked:before {
    background-color: hsl(198, 90%, 55%);
}

.theme__toggle:checked~.theme__fill {
    transform: translateX(0);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(1) {
    box-shadow: 0.2em -0.2em 0 0.2em hsl(0, 0%, 100%) inset;
    transform: scale(1);
    top: 0.2em;
    left: -0.2em;
}

.theme__toggle:checked~.theme__icon .theme__icon-part~.theme__icon-part {
    opacity: 0;
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(2) {
    transform: rotate(45deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(3) {
    transform: rotate(90deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(4) {
    transform: rotate(135deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(5) {
    transform: rotate(180deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(6) {
    transform: rotate(225deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(7) {
    transform: rotate(270deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(8) {
    transform: rotate(315deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(9) {
    transform: rotate(360deg) translateY(0.8em);
}

.theme__toggle-wrap {
    margin: 0 0.75em;
}

@supports selector(:focus-visible) {
    .theme__toggle:focus {
        box-shadow: 0 0 0 0.125em var(--primaryT);
    }

    .theme__toggle:focus-visible {
        box-shadow: 0 0 0 0.125em var(--primary);
    }
}

/* Footer styles */
.footer {
    background-color: var(--second-bg-color);
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.6rem;
}